<div class="row">
  <div class="col-md-3">
    <%= render 'car_menu' %>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">

      <div class="panel-heading">
        Amenities Car
      </div>

      <div class="panel-body">
        <div class="container">
          <%= form_for @car do |f| %>
            <div class="row form-group">
              <div class="col-md-4">
                <%= f.check_box :is_air %> Кондиционер
              </div>
              <div class="col-md-4">
                <%= f.check_box :navigator %> Навигатор
              </div>
              <div class="col-md-4">
                <%= f.check_box :is_mp3 %> MP3
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-4">
                <%= f.check_box :is_leather %> Кожаный салон
              </div>
              <div class="col-md-4">
                <%= f.check_box :for_kids %> Детское сиденье
              </div>
            </div>
            <br/><br/>

            <div class="text-center">
              <%= f.submit "Save", class: "btn btn-form" %>
            </div>

          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
