<div class="panel panel-default">
  <div class="panel-heading">
    Добавьте свой автомобиль, и начните получать доход
  </div>
  <div class="panel-body">
    <div class="container">

      <%= form_for @car do |f| %>

        <div class="row">
          <div class="col-md-4 select">
            <div class="form-group">
              <label>Тип кузова</label>
              <%= f.select :car_type, [["Седан", "Седан"], ["Хэтчбек", "Хэтчбек"], ["Универсал", "Универсал"], ["Купе", "Купе"], ["Пикап", "Пикап"]],
                            id: "car_type", prompt: "Выберите тип кузова...", class: "form-control" %>
            </div>
          </div>

          <div class="col-md-4 select">
            <div class="form-group">
              <label>Вид топлива</label>
              <%= f.select :fuel, [["Бензин", "Бензин"], ["Дизель", "Дизель"], ["Гибрид", "Гибрид"], ["Электричество", "Электричество"]],
                            id: "fuel", prompt: "Выберите вид топлива...", class: "form-control" %>
            </div>
          </div>

          <div class="col-md-4 select">
            <div class="form-group">
              <label>Вид бронирования</label>
              <%= f.select :instant, Car.instants.map {|key,value| [key.humanize, key]}, selected: 'Instant', prompt: "Select...", class: "form-control" %>
            </div>
          </div>

          <div class="col-md-4 select">
            <div class="form-group">
              <label>Количество людей в автомобиле</label>
              <%= f.select :people_capacity, [["1", 1], ["2", 2], ["3", 3], ["4", 4], ["5", 5], ["6", 6], ["7", 7], ["8", 8]],
                            id: "people_capacity", prompt: "Сколько людей помещается в автомобиль?", class: "form-control" %>
            </div>
          </div>

          <div class="col-md-4 select">
            <div class="form-group">
              <label>Количество дверей в автомобиле</label>
              <%= f.select :number_doors, [["1", 1], ["2", 2], ["3", 3], ["4", 4], ["5", 5], ["6", 6]],
                            id: "number_doors", prompt: "Сколько дверей в автомобиле?", class: "form-control" %>
            </div>
          </div>

          <div class="col-md-4 select">
            <div class="form-group">
              <label>Коробка передач</label>
              <%= f.select :transmission, [["Ручная", "Ручная"], ["Автомат", "Автомат"], ["Робот", "Робот"]],
                            id: "transmission", prompt: "Коробка передач?", class: "form-control" %>
            </div>
          </div>
        </div>

        <div><%= f.submit "Создать автомобиль", class: "btn btn-normal" %></div>

      <% end %>

    </div>
  </div>
</div>
